@font-face {
  font-family: 'Crimson-Text-Roman';
  src: url('Crimson-Text-Roman.ttf') format('truetype');
  src: url('Crimson-Text-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

