@font-face {
  font-family: 'Amsdam';
  src: url('Amsdam Regular.ttf') format('truetype');
  src: url('Amsdam Regular Mac.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

